<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>header</title>
    <link href="{% static "blog/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "blog/css/blog.css" %}" rel="stylesheet">
</head>
<body>
<div class="blog-masthead">
      <div class="container">
        <div class="blog-nav">
            <a class="navbar-brand blog-nav-item"  href="../index">Hype light</a>
              <a class="blog-nav-item" href="../index">Home</a>
              <a class="blog-nav-item" href="">Nouvelles</a>
              <a class="blog-nav-item" href="#">Date</a>
              <a class="blog-nav-item" href="#">Audio/Vidéo</a>
              <a class="blog-nav-item" href="../galerie">Images</a>
        </nav>
      </div>
    </div>
</div>
</body>
</html>